<header>
  <div class="container">
    <img src="/icons/logo.png" class="logo" alt="DocHub" />
    <nav>
      <ul>
        <li><a href="/">Главная</a></li>
        <li><a href="/documents">Документы</a></li>
        <li><a href="/about">О библиотеке</a></li>
        <li><a href="/login">Вход</a></li>
      </ul>
    </nav>
  </div>
</header>
